<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<body class="flex-grow-1 flex-shrink-1 d-flex">

    <div class="container">

        <div class="row">
            <header2 th:replace="fragments :: headerLogin"></header2>
        </div>

        <div class="row h-100">
            <div class="col-lg px-5 pb-5" id="main-profile">

                <div>
                    <h1 th:text="${title}">Default Text</h1>
                </div>

                <div th:replace="fragments :: review-form"></div>

            </div>
        </div>

    </div>

    <footer th:replace="fragments :: footer"></footer>

</body>
</html>