<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head">
</head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<body>
<header th:replace="fragments :: header"></header>

<div>
    <h1 th:text="${title}">Default Text</h1>
</div>

<div th:replace="fragments :: review-form"></div>

<form th:action="@{/delete/{id}(id=${review.id})}" method="post">
<!--<form method="post" th:action="@{/delete/reviewId(${review.id})}">-->
<!--    <input type="hidden" th:field="${reviewDTO.review.id}" id="reviewId">-->
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
<!--<a th:href="@{/delete/${review.id}}">DELETE REVIEW</a>-->

Validation failed for object='reviewFormDTO'. Error count: 3

http://localhost:8080/delete/$3

<footer th:replace="fragments :: footer"></footer>
</body>
</html>