<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org/ ">
<link rel="stylesheet" href="//cdn.materialdesignicons.com/3.7.95/css/materialdesignicons.min.css">
<head th:replace="fragments :: head">
</head>
<body>
<header th:replace="fragments :: header"></header>

<div>
    <center><h1 th:text="${'Create User Profile'}">Pass Title To Model!!!</h1></center>
</div>


<!--User profile creation form-->
<div>
    <!-- Placeholder for profile picture -->
    <svg style="width:50px;height:50px" viewBox="0 0 24 24">
        <path fill="currentColor"
              d="M4,4H7L9,2H15L17,4H20A2,2 0 0,1 22,6V18A2,2 0 0,1 20,20H4A2,2 0 0,1 2,18V6A2,2 0 0,1 4,4M12,7A5,5 0 0,0 7,12A5,5 0 0,0 12,17A5,5 0 0,0 17,12A5,5 0 0,0 12,7M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9Z"/>
    </svg>
    <form method="post" style="max-width:600px;">
        <div class="form-group">
            <div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile02">
                    <label class="custom-file-label" for="inputGroupFile02">Choose profile picture...</label>
                </div>
                <div class="input-group-append">
                    <span class="input-group-text">Upload</span>
                </div>
            </div>
        </div>
        <!-- The actual form -->
        <div class="form-group">
            <label class="col-form-label" for="displayName">Display name:*</label>
            <input type="text" class="form-control" placeholder="Identify yourself!" id="displayName"
                   th:field="${user.displayName}" maxlength="25" aria-required="true">
            <div class="invalid-feedback" th:errors="${user.displayName}"></div>

            <label class="col-form-label" for="emailAddress">Email Address:*</label>
            <input type="text" class="form-control" placeholder="marcopolo@example.com" id="emailAddress"
                   th:field="${user.emailAddress}" maxlength="100" aria-required="true">
            <div class="invalid-feedback" th:errors="${user.emailAddress}"></div>

            <label for="aboutMe">About me:</label>
            <textarea class="form-control" th:field="${user.bio}" id="aboutMe" rows="5" maxlength="500"></textarea>
            <div class="invalid-feedback" th:errors="${user.bio}"></div>

            <label class="col-form-label" for="zip">Zip Code:</label>
            <input type="text" class="form-control" placeholder="5-digit Zip Code (USA)" id="zip"
                   th:field="${user.zipCode}" maxlength="5">
            <div class="invalid-feedback" th:errors="${user.zipCode}"></div>
        </div>

        <button type="submit" class="btn btn-primary" th:text="(${submitBtnText})">Submit</button>
    </form>
</div>
<!--End user profile creation form-->


<footer th:replace="fragments :: footer"></footer>
</body>
</html>