<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<link rel="stylesheet" href="//cdn.materialdesignicons.com/3.7.95/css/materialdesignicons.min.css">
<head th:replace="fragments :: head">
</head>
<body>
    <header th:replace="fragments :: header"></header>

        <div>
            <center><h1 th:text="${'User Profile Settings'}">Pass Title To Model!!!</h1></center>
        </div>

        <div class="row">
            <div class="side">
                <h2 th:text="${user.displayName}">Display Name</h2>
                <div class="profileimg" style="height:200px;">Profile Image</div>
                <div class="form-group">
                    <label for="gemPics">File input</label>
                    <input type="file" class="form-control-file" id="gemPics" aria-describedby="fileHelp">
                    <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
                </div>
                <p> Username:  </p>
            </div>

            <div class="main">
                <div class="mt-4 py-2 border-top border-bottom">
                    <ul class="nav profile-navbar">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <i class="mdi mdi-newspaper"></i>
                                Feed
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="mdi mdi-diamond-stone"></i>
                                My Gems
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="mdi mdi-fountain-pen-tip"></i>
                                My Reviews
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="mdi mdi-account-multiple"></i>
                                My Friends
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <footer th:replace="fragments :: footer"></footer>
    </body>
</html>