<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org/ ">
<link rel="stylesheet" href="//cdn.materialdesignicons.com/3.7.95/css/materialdesignicons.min.css">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>

<div>
    <center><h1 th:text="${title}"></h1></center>
</div>


<!--User profile creation form-->
<div class="main">

    <form method="post" style="max-width:600px;">
        <!-- The actual form -->
        <div class="form-group">

            <!-- avatar picker -->
            Gemoji:*<br />
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-primary active">
                    <input type="radio" th:field="${userProfile.avatar}" name="options" id="option1" value="&#128142" autocomplete="off" checked="checked" required> &#128142;
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="options" th:field="${userProfile.avatar}" id="option2" value="&#128125" autocomplete="off"> &#128125;
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="options" th:field="${userProfile.avatar}" id="option3" value="&#129313" autocomplete="off"> &#129313;
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="options" th:field="${userProfile.avatar}" id="option4" value="&#128126" autocomplete="off"> &#128126;
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="options" th:field="${userProfile.avatar}" id="option5" value="&#128123" autocomplete="off"> &#128123;
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="options" th:field="${userProfile.avatar}" id="option6" value="&#128640" autocomplete="off"> &#128640;
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="options" th:field="${userProfile.avatar}" id="option7" value="&#128512" autocomplete="off"> &#128512;
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="options" th:field="${userProfile.avatar}" id="option8" value="&#128526" autocomplete="off"> &#128526;
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="options" th:field="${userProfile.avatar}" id="option9" value="&#128528" autocomplete="off"> &#128528;
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="options" th:field="${userProfile.avatar}" id="option10" value="&#128128" autocomplete="off"> &#128128;
                </label>
            </div>
            <br />
            <!-- end avatar picker -->

            <label class="col-form-label" for="displayName">Display name:*</label>
            <input type="text" class="form-control" placeholder="Identify yourself!" id="displayName"
                   th:field="${userProfile.displayName}" maxlength="25" aria-required="true" required>
            <div class="invalid-feedback" th:errors="${userProfile.displayName}"></div>

            <label class="col-form-label" for="emailAddress">Email Address:*</label>
            <input type="text" class="form-control" placeholder="marcopolo@example.com" id="emailAddress"
                   th:field="${userProfile.emailAddress}" maxlength="100" aria-required="true" required>
            <div class="invalid-feedback" th:errors="${userProfile.emailAddress}"></div>

            <label for="aboutMe">About me:</label>
            <textarea class="form-control" th:field="${userProfile.bio}" id="aboutMe" rows="5" maxlength="500"></textarea>
            <div class="invalid-feedback" th:errors="${userProfile.bio}"></div>

            <label class="col-form-label" for="zip">Zip Code:</label>
            <input type="text" class="form-control" placeholder="5-digit Zip Code (USA)" id="zip"
                   th:field="${userProfile.zipCode}" maxlength="5">
            <div class="invalid-feedback" th:errors="${userProfile.zipCode}"></div>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>

    <th:block th:if="${existing}">
        <button type="button" class="btn btn-danger" id="btn-delete">Delete Account</button>
        <div class="modal" id="confirm-delete-modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirm Account Deletion</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete your user account?  This action is irreversible.</p>
                    </div>
                    <div class="modal-footer">
                        <form th:action="@{/delete-user}" method="post" id="delete-forever">
<!--                            <button type="button" class="btn btn-primary">Delete Forever</button>-->
                            <input type="submit" value="DELETE" class="btn btn-primary" />
                        </form>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn-cancel-del">NO! CANCEL!</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var modal = document.getElementById("confirm-delete-modal");
            var btn = document.getElementById("btn-delete");
            var span = document.getElementsByClassName("close")[0];
            var btnCancel = document.getElementById("btn-cancel-del");
            btn.onclick = function() {
              modal.style.display = "block";
            }
            btnCancel.onclick = function() {
                modal.style.display = "none";
            }
            span.onclick = function() {
              modal.style.display = "none";
            }
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
        </script>
    </th:block>
</div>
<!--End user profile creation form-->


<footer th:replace="fragments :: footer"></footer>
</body>
</html>