<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head">
</head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<body>
<header th:replace="fragments :: header"></header>

<!--<div>-->
<!--    <h1 th:text="${title}">Default Text</h1>-->
<!--</div>-->
<!--<div th:replace="fragments :: add-photos-form">-->
<div>
    <form method="post" enctype="multipart/form-data">
        <div>
            <label>Add Photos: </label>
            <input type="file" name="image" accept="image/png, image/jpeg" />
        </div>
        <label class="btn btn-primary">
            <button type="submit" class="btn btn-primary" th:text="(${submitBtnText})">Submit</button>
        </label>
    </form>
</div>


<footer th:replace="fragments :: footer"></footer>
</body>
</html>