<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head">
</head>
<body>
<header th:replace="fragments ::header"> </header>


    <div class="row">
        <div class="column">


<div><title> Submit a New Hidden Gem </title> </div>
<form method="post" style="max-width:600px;">
    <div>
    <style>
            div {
            padding-top: 7px;
            padding-left: 7px;
             }
             </style>
    <div class="form-group">
        <label th:for="gemName">Gem Name</label>
        <input class="form-control" th:field="${gem.gemName}" />
        <span th:errors="${gem.gemName}" class="error"> </span>
    </div>
    <div class="form-group">
        <label th:for="gemLatitude">Latitude</label>
        <input class="form-control" th:field="${gem.latitude}" />
        <span th:errors="${gem.latitude}" class="error"> </span>
    </div>
    <div class="form-group">
        <label th:for="gemLongitude">Longitude</label>
        <input class="form-control" th:field="${gem.longitude}" />
        <span th:errors="${gem.longitude}" class="error"> </span>
    </div>


    <!--    <div class="form-group">-->
    <!--        <label th:for="location">Location</label>-->
    <!--        <input class="form-control" th:field="${gem.location}" />-->
    <!--        <span th:errors="${gem.location}: class="error></span>-->
    <!--    </div>-->
    <!--    <div class="form-group">-->
    <!--        <input type="radio" id="address" name="location" value="address">-->
    <!--        <label for="address">Address</label><br>-->
    <!--        <input type="radio" id="coordinates" name="location" value="coordinates">-->
    <!--        <label for="coordinates">Coordinates</label><br>-->
    <!--        <input type="radio" id="currentLocation" name="location" value="currentLocation">-->
    <!--        <label for="currentLocation">Current Location</label>-->
    <!--    </div>-->


    <!-- NEED TO FIGURE OUT HOW TO CHANGE INPUTS BASED ON USER CHOICE -->

    <div class="form-group">
        <label th:for="description">Description</label>
        <input class="form-control" th:field="${gem.description}" placeholder="Enter description here..." >
        <span th:errors="${gem.description}" class="error"> </span>
    </div>

    <div class="form-group">
        <label th:for="categories">Categories (check all that apply): </label>
        <th:block th:each="category : ${categories}">
            <input type="checkbox" name="categories" th:object="${categories}"  th:value="${category}">
            <label th:text="${category.categoryName}"></label>
        </th:block>
    </div>
    <!--            <select th:object="${gem.categories}">-->
    <!--                <option th:each="category : ${categories}"-->
    <!--                        th:value="${category}"-->
    <!--                        th:text="${category.categoryName}"-->
    <!--                ></option>-->
    <!--            </select>-->
    <p class="error" th:errors="${gem.categories}"></p>
    </label>
    </div>
        <input type="submit" value="Add Gem" />
        </form>
        </div>
    <!--    <div class="form-group">-->
    <!--        <input type="radio" id="oneDollar" name="price" value="oneDollar">-->
    <!--        <label for="oneDollar">$</label>-->
    <!--        <input type="radio" id="twoDollar" name="price" value="twoDollar">-->
    <!--        <label for="twoDollar">$$</label>-->
    <!--        <input type="radio" id="threeDollar" name="price" value="threeDollar">-->
    <!--        <label for="threeDollar">$$$</label>-->
    <!--        <input type="radio" id="fourDollar" name="price" value="fourDollar">-->
    <!--        <label for="fourDollar">$$$$</label>-->
    <!--        <input type="radio" id="fiveDollar" name="price" value="fiveDollar">-->
    <!--        <label for="fiveDollar">$$$$$</label>-->
    <!--    </div>-->

    <!--    <div class="form-group">-->
    <!--        <input type="checkbox" id="wheelchairAccess" name="tag" value="wheelchairAccess"/>-->
    <!--        <label for="wheelchairAccess">Wheelchair Access</label>-->
    <!--        <br>-->
    <!--        <input type="checkbox" id="COVID" name="tag" value="COVID">-->
    <!--        <label for="COVID">Meets CDC Guidelines</label>-->
    <!--        <br>-->
    <!--        <input type="checkbox" id="familyFriendly" name="tag" value="familyFriendly">-->
    <!--        <label for="familyFriendly">Family-Friendly</label>-->
    <!--        <br>-->
    <!--        <input type="checkbox" id="petFriendly" name="tag" value="petFriendly">-->
    <!--        <label for="petFriendly">Pet Friendly</label>-->
    <!--        <br>-->
    <!--        <input type="checkbox" id="indoor" name="tag" value="indoor">-->
    <!--        <label for="indoor">Indoor Activity</label>-->
    <!--        <br>-->
    <!--        <input type="checkbox" id="seasonal" name="tag" value="seasonal">-->
    <!--        <label for="seasonal">Seasonal Activity</label>-->
    <!--        <br>-->
    <!--        <input type="checkbox" id="foodBev" name="tag" value="foodBev">-->
    <!--        <label for="foodBev">Food or Beverage Available</label>-->
    <!--        <br>-->
    <!--        <input type="checkbox" id="freeParking" name="tag" value="freeParking">-->
    <!--        <label for="freeParking">Free Parking</label>-->
    <!--        <br>-->
    <!--    &lt;!&ndash; ENTER MAP HERE &ndash;&gt;-->
    <!--    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>-->
    <!--    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=AuA1FmiSh8ekk28pjKmVzqdq4tdTD3_7IV-5EMF1DSNMFWjPw8d7j3eDuRMDANld'></script>-->
    <!--    <script type='text/javascript'>-->
    <!--                var map;-->
    <!--                function loadMapScenario() {-->
    <!--                    map = new Microsoft.Maps.Map(document.getElementById('myMap'), {});-->
    <!--                }-->

    <!--        </script>-->
    <!--    <body onload='loadMapScenario();'>-->
    <!--    <div id='printoutPanel'></div>-->

    <!--    <div id='myMap' style='width: 50vw; height: 50vh;'></div>-->
    <!--    </body>-->

    <!--    <br>-->
    <!--    <label for="gemImage">Upload Photo of Gem</label>-->
    <!--    <input type="file" id="gemImage" name="fileToUpload" value="gemImage">-->
    <!--    <br>-->
        <div class="column">
            <div>
                <title>Bing Maps</title>
                <!-- Pointer events polyfill for old browsers, see https://caniuse.com/#feat=pointer -->
                <script src="https://unpkg.com/elm-pep"></script>
                <style>
                    div {
                        padding-top: 7px;
                        padding-left: 7px;
                        }
                        .map {
                        height: 400px;
                        width: 800px;
                        }
        </style>
                <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>
                <title>OpenLayers example</title>
                </head>
                <div id="map" class="map"></div>
                <script type="text/javascript">
      var map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          })
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([37.41, 8.82]),
          zoom: 4
        })
      });
    </script>
        </div>
        </div>
</div>
</body>

<footer th:replace="fragments :: footer"></footer>

</html>