<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">


<html lang="en">
<head th:replace="fragments :: head">
</head>
<body>
<header th:fragment="header"> </header>

<div><title> Submit a New Hidden Gem </title> </div>
<br><br><br>
<form action="/upload" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label th:for="gemName">Gem Name</label>
        <input class="form-control" th:field="${gem.name}" />
        <span th:errors="${gem.name}" class="error"> </span>
    </div>

    <div class="form-group">
        <label th:for="location">Location</label>
        <input class="form-control" th:field="${gem.location}" />
        <span th:errors="${gem.location}: class="error></span>
    </div>
    <div class="form-group">
        <input type="radio" id="address" name="location" value="address">
        <label for="address">Address</label><br>
        <input type="radio" id="coordinates" name="location" value="coordinates">
        <label for="coordinates">Coordinates</label><br>
        <input type="radio" id="currentLocation" name="location" value="currentLocation">
        <label for="currentLocation">Current Location</label>
    </div>


    <!-- NEED TO FIGURE OUT HOW TO CHANGE INPUTS BASED ON USER CHOICE -->

    <div class="form-group">
        <label th:for="gemDescription">Description</label>
        <textarea id="subject" name="subject" placeholder="Enter description here..." style="height:200px"></textarea>
        <span th:errors="${gem.description}" class="error"> </span>
    </div>

    <div class="form-group">
        <input type="radio" id="oneDollar" name="price" value="oneDollar">
        <label for="oneDollar">$</label>
        <input type="radio" id="twoDollar" name="price" value="twoDollar">
        <label for="twoDollar">$$</label>
        <input type="radio" id="threeDollar" name="price" value="threeDollar">
        <label for="threeDollar">$$$</label>
        <input type="radio" id="fourDollar" name="price" value="fourDollar">
        <label for="fourDollar">$$$$</label>
        <input type="radio" id="fiveDollar" name="price" value="fiveDollar">
        <label for="fiveDollar">$$$$$</label>
    </div>

    <div class="form-group">
        <input type="checkbox" id="wheelchairAccess" name="tag" value="wheelchairAccess"/>
        <label for="wheelchairAccess">Wheelchair Access</label>
        <br>
        <input type="checkbox" id="COVID" name="tag" value="COVID">
        <label for="COVID">Meets CDC Guidelines</label>
        <br>
        <input type="checkbox" id="familyFriendly" name="tag" value="familyFriendly">
        <label for="familyFriendly">Family-Friendly</label>
        <br>
        <input type="checkbox" id="petFriendly" name="tag" value="petFriendly">
        <label for="petFriendly">Pet Friendly</label>
        <br>
        <input type="checkbox" id="indoor" name="tag" value="indoor">
        <label for="indoor">Indoor Activity</label>
        <br>
        <input type="checkbox" id="seasonal" name="tag" value="seasonal">
        <label for="seasonal">Seasonal Activity</label>
        <br>
        <input type="checkbox" id="foodBev" name="tag" value="foodBev">
        <label for="foodBev">Food or Beverage Available</label>
        <br>
        <input type="checkbox" id="freeParking" name="tag" value="freeParking">
        <label for="freeParking">Free Parking</label>
        <br>

    </div>

    <!-- ENTER MAP HERE -->
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=AuA1FmiSh8ekk28pjKmVzqdq4tdTD3_7IV-5EMF1DSNMFWjPw8d7j3eDuRMDANld'></script>
    <script type='text/javascript'>
                var map;
                function loadMapScenario() {
                    map = new Microsoft.Maps.Map(document.getElementById('myMap'), {});
                }

        </script>
    </head>
    <body onload='loadMapScenario();'>
    <div id='printoutPanel'></div>

    <div id='myMap' style='width: 50vw; height: 50vh;'></div>
    </body>

    <br>
    <label for="gemImage">Upload Photo of Gem</label>
    <input type="file" id="gemImage" name="fileToUpload" value="gemImage">

    <br>
    <input type="submit" value="Add Gem" />
</form>


<footer th:replace="fragments :: footer"></footer>
</body>
</html>
