<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<meta http-equiv='X-Frame-Options' content='ALLOWAll'>
<style>
            div {
            padding-top: 7px;
            padding-left: 7px;
             }
</style>
<body>
    <header th:replace="fragments :: header"></header>


    <div class="main">

        <th:block th:replace="fragments :: map"> </th:block><!-- MAP FRAGMENT -->

        <h4>Submit New Gem:</h4>
        <form method="post">
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label th:for="gemName">Gem Name</label>
                        <input class="form-control" th:field="${gem.gemName}" />
                        <span th:errors="${gem.gemName}" class="error"> </span>
                    </div>
                    <div class="form-group">
                        <label th:for="gemLatitude">Latitude</label>
                        <input class="form-control" th:field="${gem.latitude}" />
                        <span th:errors="${gem.latitude}" class="error"> </span>
                    </div>
                    <div class="form-group">
                        <label th:for="gemLongitude">Longitude</label>
                        <input class="form-control" th:field="${gem.longitude}" />
                        <span th:errors="${gem.longitude}" class="error"> </span>
                    </div>
                    <div class="form-group">
                        <label th:for="description">Description</label>
                        <textarea class="form-control" th:field="${gem.description}" placeholder="Enter description here..." rows="3"></textarea>
                        <span th:errors="${gem.description}" class="error"> </span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group ">
                        <label th:for="categories"><strong>Categories (check all that apply):</strong></label><br />
                        <th:block th:each="category : ${categories}">
                            <input type="checkbox" name="categories" th:object="${categories}" th:value="${category}">
                            <label th:text="${category.categoryName}"></label><br />
                        </th:block>
                    </div>
                    <p class="error" th:errors="${gem.categories}"></p>
                    <input type="submit" class="btn btn-primary" value="Add Gem" />
                </div>
            </div>
        </form>
    </div>

    <footer th:replace="fragments :: footer"></footer>
</body>
</html>


