<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head">
</head>
<body>
<header th:replace="fragments :: header">

    <meta http-equiv='X-Frame-Options' content='ALLOWAll'>
    <style>
            div {
            padding-top: 7px;
            padding-left: 7px;
             }
</style>
</header>

<h1><center> All Gems: </center></h1>
<div class="main">
    <th:block th:replace="fragments :: map"> </th:block><!-- MAP FRAGMENT -->
    <table>
        <tr th:each="gem : ${gems}">
            <td>
                <p>
                    <a th:href="@{'gems/detail/' + ${gem.id}}" th:text="${gem.gemName}"></a>
                </p>
            </td>
        </tr>

    </table>
</div>


<footer th:replace="fragments :: footer"></footer>
</body>
</html>