<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'Hidden Gems' + ${title == null ? '' : ' :: ' + title}">Hidden Gems</title>
</head>

<body>

<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="navbar-header">
            <a th:href="@{/}" class="navbar-brand">Hidden Gems</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" th:href="@{/gems/index}">Browse Gems</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/gems/add}"> Add Gem</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/reviews/add}">Add Gem Review</a></li>
            </ul>
            <form class="navbar-form navbar-center" th:action="@{/search-results}" method = "post">
                <div class="input-group">
                <input type="text" name="searchTerm" id="searchTerm" placeholder="Search for a Gem"/>
                <div class="input-group-btn">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </div>
                </div>
            </form>
                <ul class="navbar-nav ml-auto">

                        <li class="nav-item"><a class="nav-link"th:href="@{/login}">Sign In</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/login}">Logout</a></li>
<!--LOGIN/LOGOUT VISIBILITY BASED ON USER BEING LOGGED IN IS NOT WORKING-->
                    <!--                    <td>-->
                    <!--                        <li class="nav-item" th:if="${user == null}"><a class="nav-link"  th:href="@{/login}">Sign In</a></li>-->
<!--                        <li class="nav-item" th:if="${user == null}"><a class="nav-link"  th:href="@{/login}">Logout</a></li>-->
<!--                    </td>-->
            </ul>
        </div>
    </div>
    </nav>
</header>


<!-- Review Fragment depends on model-binding with the Review object -->
<div th:fragment="review-form">
    <form method="post" style="max-width:600px;">

        <div class="form-group">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <input type="hidden" th:field="${reviewDTO.gem}">
                <input type="hidden" th:field="${reviewDTO.user}">
                <label class="btn btn-primary active">
                    <input type="radio" name="rating" th:field="${reviewDTO.review.thumbsup}" id="thumbsUp" value="true" autocomplete="off" checked=""><i class="fa fa-thumbs-up fa-3x"></i>
                </label>
                <label class="btn btn-primary">
                    <input type="radio" th:field="${reviewDTO.review.thumbsup}" id="thumbsDown" value="false" autocomplete="off"> <i class="fa fa-thumbs-down fa-3x"></i>
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="reviewDescription">Description:</label>
            <textarea class="form-control" th:field="${reviewDTO.review.reviewText}" id="reviewDescription" rows="5"></textarea>
            <div class="invalid-feedback" th:errors="${reviewDTO.review.reviewText}">Review must be no more than 500 characters in length.</div>
        </div>

        <div class="form-group">
            <label for="gemPics">File input</label>
            <input type="file" class="form-control-file" id="gemPics" aria-describedby="fileHelp">
            <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
        </div>

<!--        <input type="hidden" th:field="${gem}" id="gem">-->

        <button type="submit" class="btn btn-primary" th:unless="(${edit})">Submit</button>
        <button type="submit" class="btn btn-primary" th:if="(${edit})">Save</button>
        <button type="button" class="btn btn-secondary" onclick="history.back(-1)">Cancel</button>
    </form>
<!--    Testing Only!  Remove when Review is complete!-->
<!--    <ul th:each="error : ${errors}">-->
<!--        <li th:text="${error}"></li>-->
<!--    </ul>-->
<!--    <p th:text="${gemInfo}">GEM INFO</p>-->
<!--    END OF TEST CODE-->
</div>




<footer th:fragment="footer">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
        <div class="container">
            <ul class="nav navbar-nav navbar-center">
                <li class="nav-item"><a class="nav-link" th:href="@{/login}">Contact Us</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/add}">About</a></li>
            </ul>
            <span class="navbar-text">
                &copy; Liftoff 2020 Quarateam
            </span>
        </div>
    </nav>
    <br>

</footer>

</body>

</html>