<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'Hidden Gems' + ${title == null ? '' : ' :: ' + title}">Hidden Gems</title>
</head>

<body>

<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="navbar-header">
            <a th:href="@{/}" class="navbar-brand">Hidden Gems</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" th:href="@{/search}">Search</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/add}">Add Gem</a></li>
            </ul>
                <ul class="navbar-nav ml-auto">

                        <li class="nav-item"><a class="nav-link"th:href="@{/login}">Sign In</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/login}">Logout</a></li>
<!--LOGIN/LOGOUT VISIBILITY BASED ON USER BEING LOGGED IN IS NOT WORKING-->
                    <!--                    <td>-->
                    <!--                        <li class="nav-item" th:if="${user == null}"><a class="nav-link"  th:href="@{/login}">Sign In</a></li>-->
<!--                        <li class="nav-item" th:if="${user == null}"><a class="nav-link"  th:href="@{/login}">Logout</a></li>-->
<!--                    </td>-->
            </ul>
        </div>
    </div>
    </nav>
</header>


<footer th:fragment="footer">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
        <div class="container">
            <ul class="nav navbar-nav navbar-center">
                <li class="nav-item"><a class="nav-link" th:href="@{/login}">Contact Us</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/add}">About</a></li>
                <li class="nav-item"><a class="nav-link">&copy; Liftoff 2020 Quarateam </a></li>
            </ul>

        </div>
    </nav>
    <br>

</footer>

</body>

</html>