<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<link rel="stylesheet" href="//cdn.materialdesignicons.com/3.7.95/css/materialdesignicons.min.css">
<head th:replace="fragments :: head">
</head>
<body>
<header th:replace="fragments :: header"></header>

<div>
    <center><h1 th:text="${'Welcome!'}">Default Title</h1></center>

</div>

<!--        <form class="index" th:action="@{/search-results}" method = "post">-->
<!--            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--        </form>-->
<!--        <br>-->
<!--        <form class="index" th:action="@{/add}" method = "post">-->
<!--            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add Gem</button>-->
<!--        </form>-->
<!--        <br>-->
<!--        <form class="index" th:action="@{/review}" method = "post">-->
<!--            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add Review</button>-->
<!--        </form>-->
<!--        <br>-->
<div class="row">
    <div class="side">
       <h2>Profile</h2>
        <div class="profileimg" style="height:200px;">Profile Image</div>
        <p>Username: </p>
        </div>
    <div class="main">
        <div class="mt-4 py-2 border-top border-bottom">
            <ul class="nav profile-navbar">
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        <i class="mdi mdi-newspaper"></i>
                        Feed
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="mdi mdi-diamond-stone"></i>
                        My Gems
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="mdi mdi-fountain-pen-tip"></i>
                        My Reviews
                    </a>
                </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="mdi mdi-account-multiple"></i>
                    My Friends
                </a>
            </li>
            </ul>
        </div>
    </div>
        </nav>
    </div>
</div>



<footer th:replace="fragments :: footer"></footer>
</body>

</html>