<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<link rel="stylesheet" href="//cdn.materialdesignicons.com/3.7.95/css/materialdesignicons.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<head th:replace="fragments :: head">
</head>
    <body>
        <header th:replace="fragments :: header"></header>

        <div>
            <center><h1 th:text="${'Welcome!'}">Default Title</h1></center>
        </div>

        <div class="row">
            <div class="side">
                <h2 th:text="${profile.displayName}"></h2>
                <div class="profileimg" style="height:200px;">Profile Image</div>
                <p>@<span th:text="${user.username}"></span></p>
                <a th:href="@{/profile/settings/}"><span class="material-icons">settings</span></a>
            </div>

            <div class="main">
                <div class="mt-4 py-2 border-top border-bottom">
                    <ul class="nav profile-navbar">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <i class="mdi mdi-newspaper"></i>
                                Feed
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="mdi mdi-diamond-stone"></i>
                                My Gems
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="mdi mdi-fountain-pen-tip"></i>
                                My Reviews
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="mdi mdi-account-multiple"></i>
                                My Friends
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <footer th:replace="fragments :: footer"></footer>
    </body>
</html>