<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<link rel="stylesheet" href="//cdn.materialdesignicons.com/3.7.95/css/materialdesignicons.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<head th:replace="fragments :: head">
</head>
    <body class="flex-grow-1 flex-shrink-1 d-flex">
        <div class="container">
            <div class="row h-10">
                <header th:replace="fragments :: header"></header>
            </div>
            <div class="row h-100">
                <div class="col-sm" id="side-login">
                    <h2 class="mb-n5" th:text="${profile.displayName}"></h2>
                    <div class="profileimg my-n4" id="gemoji" th:text="${profile.avatar}">Profile Image</div>
                    <br /><strong>@<span th:text="${user.username}"></span></strong><br />
                    <small>
                        <a th:href="@{/profile/settings/}">
                        <i class="mdi mdi-cog-outline" th:href="@{/profile/settings/}"></i>Edit Profile</a>
                    </small>
                </div>

                <div class="col-lg" id="main-profile">
                    <div class="mt-4 py-2 border-top border-bottom">
                        <ul class="nav profile-navbar mb-5">
                            <li class="nav-item">
                                <div class="list-group-item list-group-item-action active p-2" id="list-feed-list" data-toggle="list" href="#list-feed" role="tab" aria-controls="feed">
                                    <i class="mdi mdi-newspaper"></i>
                                    Feed
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="list-group-item list-group-item-action p-2" id="list-myGems-list" data-toggle="list" href="#list-myGems" role="tab" aria-controls="myGems">
                                    <i class="mdi mdi-diamond-stone"></i>
                                    My Gems
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="list-group-item list-group-item-action p-2" id="list-myReviews-list" data-toggle="list" href="#list-myReviews" role="tab" aria-controls="myReviews">
                                    <i class="mdi mdi-fountain-pen-tip"></i>
                                    My Reviews
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="list-group-item list-group-item-action p-2" id="list-myFriends-list" data-toggle="list" href="#list-myFriends" role="tab" aria-controls="myFriends">
                                    <i class="mdi mdi-account-multiple"></i>
                                    My Friends
                                </div>
                            </li>
                        </ul>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="list-feed" role="tabpanel" aria-labelledby="list-feed-list" >
                                <ul style="list-style: none;">
                                    <th:block th:if="${recentGems}">
                                        <li th:each="gem : ${recentGems}">
                                            <p>&#128142; <a th:href="@{'/users/view?id=' + ${gem.user.id}}" th:text="${gem.user.userProfile.displayName}"></a> discovered <a th:href="@{'/gems/detail/' + ${gem.id}}" th:text="${gem.gemName}"></a> </p>
                                        </li>
                                    </th:block>
                                </ul>
                                <ul style="list-style: none;">
                                    <th:block th:if="${recentReviews}">
                                        <li th:each="review : ${recentReviews}">
                                            <p>
                                                <span th:text="*{review.thumbsup}? '&#128077;': '&#128078;'"></span>
                                                <a th:href="@{'/users/view?id=' + ${review.user.id}}" th:text="${review.user.userProfile.displayName}"></a> reviewed <a th:href="@{'/gems/detail/' + ${review.id}}" th:text="${review.getGem()}"> </a>
                                            </p>
                                        </li>
                                    </th:block>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="list-myGems" role="tabpanel" aria-labelledby="list-myGems-list">
                                <ul>
                                    <li th:each="gem : ${myGems}">
                                        <a th:href="@{'/gems/detail/' + ${gem.id}}" th:text="${gem.gemName}"></a>
                                        <a th:href="@{'/gems/edit?gemId=' + ${gem.id}}" style="text-decoration: none;"> <small>&#9998;</small></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="list-myReviews" role="tabpanel" aria-labelledby="list-myReviews-list">
                                <ul>
                                    <li th:each="review : ${myReviews}">
                                        <a th:href="@{'/reviews/detail/' + ${review.id}}" th:text="${review.getGem()}"></a>
                                        <a th:href="@{'/reviews/edit/' + ${review.id}}" style="text-decoration: none;"> <small>&#9998;</small></a>
                                        <p> Review: "<span th:text="${review.getReviewText}"> </span>"</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="list-myFriends" role="tabpanel" aria-labelledby="list-myFriends-list">
                                <ul>
                                    <li th:each="friend : ${myFriends}">
                                        <a th:href="@{'/users/view?id=' + ${friend.id}}" th:text="${friend.userProfile.displayName}"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="fragments :: footer"></footer>
    </body>
</html>