<!DOCTYPE html>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body>
<header th:replace="fragments :: header"></header>

<form th:action="@{/search-results}" method = "post">
    <h2>Search by:</h2>

    <div class="form-group">
        <label th:for="categories">Categories </label>

            <th:block th:each="category : ${categories}">
                    <input
                            type="checkbox"
                            name="categories"
                            th:object="${categories}"
                            th:value="${category}">
                    <label th:for="${category.categoryName}" th:text="${category.categoryName}"></label>
               </th:block>
    </div>

<!--    <p>-->
<!--            <span th:each="column : ${columns}">-->
<!--                <input-->
<!--                        type="radio"-->
<!--                        name="searchType"-->
<!--                        th:id="${column.key}"-->
<!--                        th:value="${column.key}"-->
<!--                        th:checked="${column.key == 'all'}"/>-->
<!--                <label th:for="${column.key}" th:text="${column.value}"></label>-->
<!--            </span>-->

<!--    </p>-->

    <p>
        <label for="searchTerm">Keyword:</label>
        <input type="text" name="searchTerm" id="searchTerm" />
    </p>

    <input type="submit" value="Search" />
</form>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>